<footer class="soufle-site-footer">
  <div class="soufle-footer-quick-links">
    <div class="container">
      <div class="soufle-divider-space space-sm"></div>
      <div class="links row">
        <div class="col-md-3">
          <div class="heading">
            QUICK LINKS
          </div>
          <ul>
            <li><a href="news.html">JOURNAL</a></li>
            <li><a href="contact.html">TALK TO US</a></li>
            <li><a href="stores.html">FIND US</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="heading">
            MENUS
          </div>
          <ul>
            <li><a href="#">SOUFFLÉ</a></li>
            <li><a href="coffees.html.erb">COFFEE</a></li>
            <li><a href="frappes.html">FRAPPÉS</a></li>
            <li><a href="#">ALLERGENS</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="heading">
            ABOUT
          </div>
          <ul>
            <li><a href="our-story.html">OUR STORY</a></li>
            <li><a href="our-souffle.html">OUR SOUFFLÉ</a></li>
            <li><a href="careers.html">CAREERS</a></li>
            <li><a href="faqs.html">FAQs</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="connect-info">
            <div class="address">
              18 Metropolitan Park
            </div>
            <div class="address">
              Derby Road, Greenford
            </div>
            <div class="address">
              London, UB6 8UJ
            </div>
            <div class="et-link">
              <a href="contact.html">e: uk@sosouffle.com</a>
            </div>
            <div class="et-link">
              <a href="callto:0044 023 642 124">t: (0044)023 642 124</a>
            </div>
            <div>
              <div class="soufle-social">
                <a class="soufle-social-link"
                   href="https://www.facebook.com/sosouffle-1616836028561660/"
                   target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="soufle-social-link"
                   href="https://twitter.com/sosouffle"
                   target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="soufle-social-link"
                   href="https://www.instagram.com/sosouffleuk/"
                   target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="soufle-footer-copyright">
    <div class="container">
      <div class="row">
        <div class="soufle-copyright-text">© So Soufflé UK 2018
        </div>
      </div>
    </div>
  </div>
</footer>