<footer class="soufle-site-footer">
  <div class="soufle-footer-quick-links">
    <div class="container">
      <div class="soufle-divider-space space-sm"></div>
      <div class="links row">
        <div class="col-md-3">
          <div class="heading">
            QUICK LINKS
          </div>
          <ul>
            <li><a href="#">JOURNAL</a></li>
            <li><a href="#">TALK TO US</a></li>
            <li><a href="#">FIND US</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="heading">
            MENUS
          </div>
          <ul>
            <li><a href="#">SOUFFLÉ</a></li>
            <li><a href="#">COFFEE</a></li>
            <li><a href="#">FRAPPÉS</a></li>
            <li><a href="#">ALLERGENS</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="heading">
            ABOUT
          </div>
          <ul>
            <li><a href="#">OUR STORY</a></li>
            <li><a href="#">OUR SOUFFLÉ</a></li>
            <li><a href="#">CAREERS</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="connect-info">
            <div class="address">
              18 Metropolitan Park
            </div>
            <div class="address">
              Derby Road, Greenford
            </div>
            <div class="address">
              London, UB6 8UJ
            </div>
            <div class="et-link">
              <a href="#">e: uk@sosouffle.com</a>
            </div>
            <div class="et-link">
              <a href="#">t: (0044)023 642 124</a>
            </div>
            <div>
              <div class="soufle-social">
                <a class="soufle-social-link"
                   href="https://www.facebook.com/sosouffle-1616836028561660/"
                   target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="soufle-social-link"
                   href="https://twitter.com/sosouffle"
                   target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="soufle-social-link"
                   href="https://www.instagram.com/sosouffleuk/"
                   target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="soufle-footer-copyright">
    <div class="container">
      <div class="row">
        <div class="soufle-copyright-text">© So Soufflé UK 2018
        </div>
      </div>
    </div>
  </div>
</footer>