<aside id="left-panel" class="left-panel">
  <nav class="navbar navbar-expand-sm navbar-default">

    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/"></a>
      <a class="navbar-brand hidden" href="/"></a>
    </div>

    <div id="main-menu" class="main-menu collapse navbar-collapse">
      <ul class="nav navbar-nav">
<!--        <li>-->
<!--          <a href="/"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>-->
<!--        </li>-->
        <li>
          <%= link_to admin_categories_path do %><i class="menu-icon fa fa-delicious"></i> Report<%end %>
        </li>
<!--        <li>-->
<!--          <%#= link_to new_admin_report_path do %><i class="menu-icon fa fa-area-chart"></i> New Report<%#end %>-->
<!--        </li>-->
<!--        <li>-->
<!--          <%#= link_to admin_users_path do %><i class="menu-icon fa fa-users"></i> Users<%#end %>-->
<!--        </li>-->
<!--        <li>-->
<!--          <%#= link_to new_admin_user_path do %><i class="menu-icon fa fa-user-circle-o"></i> New User<%#end %>-->
<!--        </li>-->
<!--        <li>-->
<!--          <%#= link_to admin_announcements_path do %> <i class="menu-icon fas fa-bullhorn"></i> Announcements <%# end %>-->
<!--        </li>-->
<!--        <li>-->
<!--          <%#= link_to admin_sites_path do %> <i class="menu-icon fas fa-bullhorn"></i> Sites <%# end %>-->
<!--        </li>-->
<!--        <li>-->
<!--          <%#= link_to admin_links_path do %> <i class="menu-icon fas fa-bullhorn"></i> Links <%# end %>-->
<!--        </li>-->
<!--        <li>-->
<!--          <%# link_to admin_categories_path do %> <i class="menu-icon fas fa-bullhorn"></i> Category <%# end %>-->
<!--        </li>-->


      </ul>
    </div>
  </nav>
</aside>
